{% extends 'titanic/layout.html' %}

{% block body %}

  <h1>Enter values in field</h1>
  {% from "titanic/includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.p_class, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.sex, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.age, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.sibsp, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.parch, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.fare, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.embarked, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>

{% endblock %}