<!DOCTYPE html>
<html>

<head>
    <title>Your Machine Learning App</title>
    <link rel="stylesheet" href="css/example.css">

</head>

<body>
    <form name="form" , method="POST" , style="text-align: center;">
        <br>
        Var_001: <input type="number" name="__var_001__" , placeholder="Type the value" required />
        <br><br>
        Var_002: <input type="number" name="__var_002__" , placeholder="Type the value" required />
        <br><br>
        Var_003: <input type="number" name="__var_003__" , placeholder="Type the value" required />
        <br><br>
        <button>Run</button>
    </form>
    <p style="text-align: center;">{{ output }}</p>
</body>

</html>